.icon {
  &-xs {
    @apply h-3 w-3;
  }
  &-sm {
    @apply h-4 w-4;
  }
  &-md {
    @apply h-5 w-5;
  }
  &-lg {
    @apply h-6 w-6;
  }
  &-xl {
    @apply h-9 w-9;
  }
}

.text {
  &-primary {
    @apply text-primary-blue-500;
  }
  &-secondary {
    @apply text-secondary-blue-500;
  }
  &-dark {
    @apply text-dark-300;
  }
  &-neutral {
    @apply text-neutral-600;
  }
}

.css-1pae8pd {
  width: 100px !important;
  height: 100px !important;
  margin-bottom: 15px;
}
.css-ngu85f {
  display: flex !important;
  flex-direction: column !important;
}
#list-of-all-icons {
  @apply mb-12;
}
